* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.screen {
    background-color: #000000;
    color: #ffffff;
    width: 160px;
    height: 40px;
    text-align: end;
    padding: 15px 10px 0px 0px;
}

button {
    background-color: #d8d9db;
    height: 40px;
    width: 40px;
    font-size: 15px;
    border-width: 0px 0px 2px 2px;
}

button:last-child {
    background-color: #df974c;
    color: #ffffff;
}

.first-row > button:first-child {
    width: 80px;
}

.fifth-row > button:first-child {
    width: 120px;
}